<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Hoja de vida
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Información personal</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>YAJAIRA CUATIS</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     <ion-img src="E:\yaja\Pictures\fotos\a.jpg"></ion-img>
    </ion-card-content>
  </ion-card>
  <ion-item>
    <ion-label position="fixed" color="primary"><ion-icon name="home-outline"></ion-icon> Dirección:</ion-label>
    Argelia - Av. Simón Bolívar
  </ion-item>
  <ion-item>
    <ion-label position="fixed" color="primary"><ion-icon name="card-outline"></ion-icon> CI:</ion-label>
    1727682781
  </ion-item>
  <ion-item>
    <ion-label position="fixed" color="primary"><ion-icon name="mail-outline"></ion-icon> Email:</ion-label>
    yajairaibet@hotmail.com
  </ion-item>
  <ion-item>
    <ion-label position="fixed" color="primary"><ion-icon name="call-outline"></ion-icon> Contacto:</ion-label>
    0984901321
  </ion-item>
  <ion-item>
    <ion-label position="fixed" color="primary"><ion-icon name="person-outline"></ion-icon> PERFIL:</ion-label>
    Soy responsable y comprometida con las cosas que hago.
    Disfruto de trabajar en equipo, trato de que exista un 
    ámbito de respeto y confianza. Siempre estoy dispuesta 
    a aprender cosas nuevas y aplicarlas de manera eficiente. 
  </ion-item>
</ion-content>
